<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHl7Service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65184/Hl7Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHl7Service" contract="IHl7Service"
                name="BasicHttpBinding_IHl7Service" />
        </client>
    </system.serviceModel>
</configuration>